@font-face {
  font-family: VeryBold;
  src: url(../public/BRFirmaCW-Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: LightText;
  src: url(../../../BRFirmaCW-Light.woff2);
  font-weight: light;
}
@font-face {
  font-family: mediumText;
  src: url(../public/BRFirmaCW-Medium.woff2);
  font-weight: medium;
}
@font-face {
  font-family: RegularText;
  src: url(../../../public/BRFirmaCW-Regular.woff2);
  font-weight: regular;
}
@font-face {
  font-family: SemiBold;
  src: url(../public/BRFirmaCW-SemiBold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: Book;
  src: url(../public/CircularXXWeb-Book.woff2);
  font-weight: small;
}
@font-face {
  font-family: Book;
  src: url(../../../public/CircularXXWeb-Book.woff2);
  font-weight: light;
}

#footerHeading {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.footerStack {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

#footerMainText {
  font-family: Book;
  color: rgba(8, 37, 82, 0.6);
}
.section6Stack {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section8Grid{
    padding-bottom: 3rem;
    border-bottom: 2px solid rgba(8,37,82,.05);;
}

.secBadgeGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap:.6rem; */
}

.secBadgeStack{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

#footerBlackText{
    font-size: 1rem;
    letter-spacing: 0px;
    color: black;
    font-family: RegularText;
}

#lisence{
    font-size: 1rem;
    letter-spacing: 0;
}

#lisence2{
    font-size: .7rem;
    letter-spacing: 0;
}

.secBox{
    border-radius: 13px;
    border: 1px solid rgba(8,37,82,.07);
    padding: .5rem 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#footerNote{
    font-size: .8rem;
}
