:root {
    --main-color: #ff4300;
    --text-color-white: #fff;
    --small-text-color: #7e91ae;
    --heading-text-size: 1.2rem;
    --hero-text-size: 2rem;
    --head-font-Weight: 200;
    --stack-gap: 1rem;
    --margin--top-val: 5rem;
  
    --small-text-size: 1rem;
    --small-special-text-color: #0066f4;
    --main-text-color: #082552;
  
    --main-text-size: 8rem;
  }
.pieStack {
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }
  
  .pieStrocks{
    padding: .09rem;
    background-color: black;
    width: 1.5rem; 
    position: absolute; 
    right: 1rem;
    top: 1.4rem
  }
  
  
  .pieStrocks2{
    padding: .09rem;
    background-color: black;
    width: 1.5rem; 
    position: absolute; 
    top: 2rem;
    right: 1rem;
  }
  
  .transition {
    transition: all 1s;
  }

  .fastTransition{
    transition: all .5s;

  }
  
  
  
  .rotate1{
    rotate: 45deg;
  }
  
  .rotateStrock:nth-child(1){
     rotate: 45deg;
     position: absolute;
  }
  
  .rotateStrock:nth-child(2){
    rotate: -45deg;
    position: absolute;
    top: 1.4rem;
  }
  

  .fixedNonColeredHeader{
    position: fixed;
    width: 100%;
    background-color: var(--text-color-white);
    z-index: 11;
    padding-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .fixedColoredHeader{
    background-color: #0066f4;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 11;
    padding-bottom: .5rem;
  }

  .whitePieMenue{
    background-color: #fff;
  }
  
  
  
  