/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hideDextopFlex {
    display: flex;
  }
  .section8Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .section8Grid2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section8FlexBox {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  #MenuMinorText2 {
    font-size: .5rem;
    opacity: 0.6;
    color: #fff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hideDextopFlex {
    display: flex;
  }
  .section8Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .section8Grid2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section8FlexBox {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  #MenuMinorText2 {
    font-size: .5rem;
    opacity: 0.6;
    color: #fff;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hideDextopFlex {
    display: flex;
  }
  .section8Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
  .section8Grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .section8FlexBox {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  #MenuMinorText2 {
    font-size: 1rem;
    opacity: 0.6;
    color: #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hideDextopFlex {
    display: none;
  }
  .section8Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .section8Grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .section8FlexBox {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hideDextopFlex {
    display: none;
  }
  .section8Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .section8Grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .section8FlexBox {
    display: flex;
    flex-direction: row;
    gap: 20rem;
  }
  
}
